body {
  margin: 0px;
}

// https://blog.logrocket.com/dark-mode-in-react-an-in-depth-guide/
@media (prefers-color-scheme: dark) {
  background-color: #1F2023;
  color: #DADADA;
}

backDrop {
  background: rgba(255, 255, 255, 0.2)
}

modalHeader {
  backgroundColor: #1976d2;
}

.s-alert-box {
  min-width: 250px;
}

.s-alert-close::before, .s-alert-close::after {
  width: 2px;
}
